audioread
numpy
scipy
joblib
librosa
numba
protobuf
PyYAML
soundfile
tensorboard
tensorboardX
torch
torchvision 
torchaudio
easydict
pyyaml 
torch 
tensorboardX 
SharedArray 
six
watermark
matplotlib
torchsummary
loguru
watermark